body{
    background-image: url('https://images.photowall.com/products/55965/world-map-pastel-blue.jpg?h=699&q=85');
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;

}

.abBobaBack{
    border: solid;
    border-color: paleturquoise;
    background-color: paleturquoise;
    padding: 10px 30px;
}

h1{
    font-family: fantasy;
    
}