#tictactoe{
    position:absolute;
    left: 200px;
}

#linktictactoe{
    position:absolute;
    left: 250px;
    bottom: 350px;
}

#madlib{
    position:absolute;
    left: 625px;
}

#linkmadlibs{
    position:absolute;
    left: 675px;
    bottom: 350px;
}

#block0{
    position: absolute;
    left:500px;
    top:250px;
    background-color:white;
    height:150px;
    width: 150px;
    border-bottom-style: solid;
    border-right-style: solid;
}

#block1{
    position:absolute;
    left: 650px;
    top:250px;
    background-color:white;
    height: 150px;
    width: 150px;
    border-left-style: solid;
    border-bottom-style:solid;
    border-right-style:solid;
}

#block2{
    position:absolute;
    left:800px;
    top: 250px;
    background-color:white;
    height: 150px;
    width: 150px;
    border-left-style:solid;
    border-bottom-style:solid;
}

#block3{
    position:absolute;
    left: 500px;
    top: 400px;
    background-color:white;
    height: 150px;
    width: 150px;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
}

#block4{
    position:absolute;
    left:650px;
    top:400px;
    background-color:white;
    height: 150px;
    width: 150px;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-style:solid;
}

#block5{
    position:absolute;
    left: 800px;
    top:400px;
    background-color:white;
    height: 150px;
    width: 150px;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-style:solid;
}

#block6{
    position:absolute;
    left:500px;
    top: 550px;
    background-color:white;
    height: 150px;
    width: 150px;
    border-top-style:solid;
    border-right-style:solid;
}

#block7{
    position:absolute;
    left: 650px;
    top: 550px;
    background-color:white;
    height: 150px;
    width: 150px;
    border-top-style:solid;
    border-left-style:solid;
}

#block8{
    position:absolute;
    left: 800px;
    top: 550px;
    background-color:white;
    height: 150px;
    width: 150px;
    border-top-style:solid;
    border-left-style:solid;
}

#block9{
    position:absolute;
    left:150px;
    bottom:400px;
    background-color:blue;
    height:200px;
    width:200px;
}

#block10{
    position:absolute;
    left:150px;
    bottom:100px;
    background-color:red;
    height:200px;
    width:200px;
}

#Player1{
    position:absolute;
    left:200px;
    bottom:600px;
}

#Player2{
    position:absolute;
    left:200px;
    bottom:300px;
}

#loveletter{
    position:absolute;
    left:175px;
}

#linkloveletter{
    position:absolute;
    left:215px;
    bottom:450px;
}

#dating{
    position:absolute;
    left:645px;
}

#linkdating{
    position:absolute;
    left:680px;
    bottom:450px;
}

#vacation{
    position:absolute;
    left:1050px;
}

#linkvacation{
    position:absolute;
    left:1100px;
    bottom:450px;
}

#clickergame{
    position:absolute;
    left:1050px;  
}

#linkclickergame{
    position:absolute;
    left:1075px;
    bottom:350px;
}

#awkwardencounter{
    position:absolute;
    left:400px;
    bottom:175px;
}

#linkawkwardencounter{
    position:absolute;
    left:405px;
    bottom:125px;
}

#marriagerules{
    position:absolute;
    left:885px;
    bottom:175px;
}

#linkmarriagerules{
    position:absolute;
    left:915px;
    bottom:125px;
}
#reset{
    position:absolute;
    left:700px;
    bottom:50px;
    
}

#connect4{
    position:absolute;
    left:412px;
    bottom:100px;
}

#linkconnect4{
    position:absolute;
    left:460px;
    bottom:75px;
}

#colorsleuth{
    position:absolute;
    left:865px;
    bottom:100px;
}

#linkcolorsleuth{
    position:absolute;
    left:900px;
    bottom:75px;
}

#grid0{
    position:absolute;
    left:375px;
    top:150px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid1{
    position:absolute;
    left:475px;
    top:150px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid2{
    position:absolute;
    left:575px;
    top:150px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid3{
    position:absolute;
    left:675px;
    top:150px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid4{
    position:absolute;
    left:775px;
    top:150px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid5{
    position:absolute;
    left:875px;
    top:150px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid6{
    position:absolute;
    left:975px;
    top:150px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid7{
    position:absolute;
    left:375px;
    top:250px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid8{
    position:absolute;
    left:475px;
    top:250px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid9{
    position:absolute;
    left:575px;
    top:250px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid10{
    position:absolute;
    left:675px;
    top:250px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid11{
    position:absolute;
    left:775px;
    top:250px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid12{
    position:absolute;
    left:875px;
    top:250px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid13{
    position:absolute;
    left:975px;
    top:250px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid14{ 
    position:absolute;
    left:375px;
    top:350px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}
    
#grid15{
    position:absolute;
    left:475px;
    top:350px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid16{
    position:absolute;
    left:575px;
    top:350px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid17{
    position:absolute;
    left:675px;
    top:350px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid18{
    position:absolute;
    left:775px;
    top:350px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid19{
    position:absolute;
    left:875px;
    top:350px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid20{
    position:absolute;
    left:975px;
    top:350px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid21{
    position:absolute;
    left:375px;
    top:450px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid22{
    position:absolute;
    left:475px;
    top:450px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid23{
    position:absolute;
    left:575px;
    top:450px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid24{
    position:absolute;
    left:675px;
    top:450px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid25{
    position:absolute;
    left:775px;
    top:450px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid26{
    position:absolute;
    left:875px;
    top:450px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid27{
    position:absolute;
    left:975px;
    top:450px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid28{
    position:absolute;
    left:375px;
    top:550px;
    background-color:white;
     height:100px;
    width:100px;
    border-style: solid;
}

#grid29{
    position:absolute;
    left:475px;
    top:550px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid30{
    position:absolute;
    left:575px;
    top:550px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid31{
    position:absolute;
    left:675px;
    top:550px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid32{
    position:absolute;
    left:775px;
    top:550px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid33{
    position:absolute;
    left:875px;
    top:550px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid34{
    position:absolute;
    left:975px;
    top:550px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid35{
    position:absolute;
    left:375px;
    top:650px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid36{
    position:absolute;
    left:475px;
    top:650px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid37{
    position:absolute;
    left:575px;
    top:650px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid38{
    position:absolute;
    left:675px;
    top:650px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid39{
    position:absolute;
    left:775px;
    top:650px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid40{
    position:absolute;
    left:875px;
    top:650px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#grid41{
    position:absolute;
    left:975px;
    top:650px;
    background-color:white;
    height:100px;
    width:100px;
    border-style: solid;
}

#firstplayer{
    position:absolute;
    left:120px;
}

#secondplayer{
    position:absolute;
    left:105px;
    top:450px;
}

#grid42{
    position:absolute;
    left:110px;
    top:250px;
    background-color:red;
    height:150px;
    width:150px;

}

#grid43{
    position:absolute;
    left:110px;
    top:550px;
    background-color:yellow;
    height:150px;
    width:150px;

}

#message{
    position:absolute;
    left:1100px;
    top:415px;
    text-transform: uppercase;
}

#resetgrid{
    position:absolute;
    left:700px;
    bottom:25px;
}

#response1{
    font-size: 40px;
    margin:100px;
}

#response2{
    font-size: 40px;
    margin:100px;
}

#response3{
    font-size: 40px;
    margin:100px;
}

#response4{
    font-size: 40px;
    margin:100px;
}

#response5{
    font-size: 25px;
    margin:20px;
}

#response6{
    font-size: 25px;
    margin:20px;
}
#response7{
    font-size: 25px;
    margin:20px;
}
#response8{
    font-size: 25px;
    margin:20px;
}

#response9{
    font-size: 25px;
    margin:20px;
}

#response10{
    font-size: 25px;
    margin:20px;
}

#response11{
    font-size: 25px;
    margin:20px;
}

#response12{
    font-size: 25px;
    margin:20px;
}

#response13{
    font-size: 25px;
    margin:20px;
}

#response14{
    font-size: 25px;
    margin:20px;
}

#response15{
    font-size: 25px;
    margin:20px;
}

#response16{
    font-size: 25px;
    margin:20px;
}

.demobackButt{
    border: solid;
    border-color: paleturquoise;
    background-color: paleturquoise;
    padding: 10px 30px;
}

.clickbody{
    height:500px;
    width:1425px;
}

canvas[resize]{
    width:100%;
    height:100%;
}