.desAbBo{
    text-align: center;
    color: red;
   
   }
   
   
   .paraAb{
    text-indent: 40px;
    width: 700px;
    margin-left: 360px;
    margin-right: 200;
   }
   
   .bobaAb{
    width: 180x;
    height: 180px;
    position: relative;
    top: -220px;
    right: -90px;
    border: solid;
    border-width: 8px;
    border-color: #a1ffd9;
   }

   .sodaAb{
    width: 180px;
    height: 180px;
    float: right;
    position: relative;
    top: -220px;
    left: -90px;
    border: solid;
    border-width: 8px;
    border-color: #a1ffd9;

   }

   .baHealth{
    margin-top: -200px;
    width: 640px;
    text-indent: 40px;

   }

   #baTitle{
    text-indent: 0px;

   }