.musicBack{
    border: solid;
    border-color: paleturquoise;
    background-color: paleturquoise;
   }

.claPopButt{
    border: solid;
    border-radius: 10px;
    border-color: #f59542;
    background-color: #ffce6b;
    width: 350px;

}