p{
    text-indent: 40px;
    width: 620px;

}

h1{
    font-family: cursive, sans-serif;
    color: #4242f5;

}

body{
    background-image: url('https://i.pinimg.com/originals/e0/81/b6/e081b61f54b8d7ee43cb7fabce4c7b8b.png');
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.backMeHost{
    border: solid;
    border-color: paleturquoise;
    background-color: paleturquoise;

}

.hobbies{
    position: fixed;
    right: 5px;
    top: 105px;

}

.thisSection{
    margin-left: 70px;

}